.container {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input, .form-input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: transparent;
    color: #232323;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.submit-button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.submit-button:hover {
    background-color: #0056b3;
    outline: none;
    border: none;
}

.sumbit-button:focus {
    outline: none;
    border: none;
}

.message {
    margin-bottom: 15px;
    color: green;
    font-weight: bold;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.user-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.no-results {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #555;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #232323;
}

h3,
p {
    color: #232323;
}

.home-button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: solid 2px #0056b3;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #232323;
    transition: background-color 0.3s;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}